.sec_footer {               background-color: var(--black_main);
                            color: var(--white_off);}

/* For the upper part of the footer */
.col_6_footer_upper h2 {text-transform: uppercase;}
.col_6_footer_upper ul {padding-left: 0px;}
.col_6_footer_upper li {margin-bottom: 10px;}
.col_6_footer_upper_right {justify-content: right; text-align: right;}

/* For the lower part of the footer, below the white line */

.col_12_footer_lower {border-top: 1px solid var(--white_off);}

.col_12_footer_lower ul {   text-transform: uppercase;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding-left: 0px;
                            margin-top: 0px;
                            margin-bottom: 0px;}

.col_12_footer_lower h5 {   font-size: 14px;}
.col_12_footer_lower li {   font-size: 14px;
                            font-weight: 500;}

.col_12_footer_bottom ul {  display: flex;
                            justify-content: space-between;
                            padding-left: 0px;
                            margin-top: 0px;
                            margin-bottom: 0px;
                            color: var(--white_footer);
                            font-size: 13px;}

.iconGroup          {       display: flex;
                            justify-content: flex-end;
                            margin-top: 10px;}

.iconSocials        {       background-color: var(--white_off);
                            margin: 5px;
                            width: 30px;
                            height: 30px;
                            padding: 3px 11px;
                            border-radius: 18px;
                    }

.iconSocials i      {       color: var(--black_main);
                            font-size: 12px;
                            line-height: 12px;
                    }