.sec_features {             background-color: var(--white_grey)}

.col_4_story    {       display: block;}

.col_4_story_text h3 {  font-size: 20px; 
                        font-weight: 600;
                        line-height: 25px;
                        margin-top: 10px;}

.col_4_story_text h5 {  font-size: 14px; 
                        font-weight: 500;
                        margin-top: 10px;
                        margin-bottom: 10px;}

.col_4_story img {      height: 263px;
                        width: 100%;
                        object-fit: cover;}