/*MAIN_UPPER*/
/*MIDDLE*/
.col_8_story_main {     background-color: var(--white_grey);
                        text-align: center;
                        margin-bottom: 20px;}

.col_8_story_main img { height: 550px;
                        width:780px;
                        object-fit: cover;}

.col_8_story_main_text {margin-left: 15px;
                        margin-right: 15px;}
                        
.col_8_story_main h1 {  font-size: 36px;
                        font-weight: 800;
                        line-height: 36px;
                        margin-top: 5px;
                        margin-bottom: 5px;}

.col_8_story_main h5 {  font-size: 14px;
                        font-weight: 600;
                        margin-top: 10px;
                        margin-bottom: 10px;}

.col_8_story_main p {   font-size: 18px;
                        color: var(--black_text);
                        height: 60px;}

/*LEFT*/
.col_2_story_img {      display: block;
                        border-bottom: 1px solid var(--black_main);
                        margin-bottom: 20px;}

.col_2_story_img h4 {   font-size: 18px;
                        font-weight: 700;
                        line-height: 25px;}

.col_2_story_img h5 {   font-size: 14px; 
                        font-weight: 500;
                        margin-top: 5px;
                        margin-bottom: 5px;}

.col_2_story_img img {  height: 180px;
                        width: 180px;
                        object-fit: cover;}

/*RIGHT*/
.col_2_story {          display: block;
                        border-bottom: 1px solid var(--black_main);}

.col_2_story h4     {   color: var(--black_main);
                        text-transform: none;
                        font-weight: 600;
                        font-size: 16px;}

.col_2_story h5     {   font-size: 13px;
                        font-weight: 500;
                        margin-top: 10px;
                        margin-bottom: 10px;}


/*MAIN_LOWER*/

.col_3_story    {       display: block;}

.col_3_story_text h3 {  font-size: 20px; 
                        font-weight: 600;
                        line-height: 25px;}

.col_3_story_text h5 {  font-size: 14px; 
                        color: var(--black_body);
                        font-weight: 500;
                        margin-top: 10px;
                        margin-bottom: 10px;}

.col_3_story img {      height: 150px;
                        width: 280px;
                        object-fit: cover;}